.header {
    font-size: 1.8rem;
    padding: 1rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}